/* Import custom colors */
@import "@/styles/custom-colors.css";
@import "@/styles/RainThunder.css";
@import "@/styles/AnimatedRight.css";
@import "@/styles/ProjectsCard.css";
@import "@/styles/custom-ripples.css";
@import "@/styles/DBackground.css";

/* Import Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .sidebar-icon {
    @apply relative flex items-center justify-center
            h-12 w-12 mt-2 mb-2 mx-auto
            bg-gray-800 text-blue-500 hover:bg-blue-700 hover:text-white active:bg-blue-300
            rounded-3xl hover:rounded-xl
            transition-all duration-300 ease-linear
            cursor-pointer;
  }
  .sidebar-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max left-[-50%] top-[-50%] z-50
      rounded-md shadow-md
      text-white bg-gray-900 bg-opacity-70 border-blue-700 border-2
      text-xs font-bold
      transition-all duration-100 scale-0 origin-left;
  }

  .hangman-btn {
    @apply w-full border-[3px] border-white bg-transparent aspect-square text-[2.5rem] uppercase p-2 font-bold cursor-pointer;  
  }

  .btn-active {
    @apply active:bg-green-600;
  }

  .btn-inactive {
    @apply opacity-[.3];
  }
  
  .btn-hovered-focused {
    @apply hover:bg-teal-500 focus:bg-cyan-600 focus:rounded-lg focus:border-none hover:text-black  hover:rounded-full;
  }

  .login-input {
    @apply w-[400px] border border-blue-600 py-2 px-6 bg-zinc-100/40 rounded-md;
  }

} 


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


.custom-text-shadow {
  text-shadow: 0 8px 10px rgba(66, 153, 225, 0.8); /* blue-300 */
}


Chrome, Edge, and Safari
*::-webkit-scrollbar {
  display: none;
}

/* IE and Edge */
* {
  -ms-overflow-style: none;
}

/* Firefox */
* {
  scrollbar-width: none;
}
